*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 
.bussnes_heading{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: normal;
}
.bussness_img{
    display: flex;
    height: 500px;
    width: 100%;
}
.img{
    width: 60%;
    height: 200px;
}

input[type=checkbox] {
    display: none;
  }
  
  .img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
  }

