*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 
.bussnes_heading{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: normal;
}
.bussness_img{
    display: flex;

    width: 100%;
    justify-content: center;
}
.img{
    width: 90%;
    height: 200px;
    margin: 10px;

}
.img {

    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  

