.bussnes_heading{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: normal;
}
.bussness_img{
    display: flex;
    height: 500px;
}

input[type=checkbox] {
    display: none;
  }
  
  .container img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
  }