<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../CSS/style.css">
    <link rel="stylesheet" href="./../CSS/businessAnalysis.css">
</head>
<body>
    <header class="header-section">
        <div class="header-content">
          <!-- Navbar -->
          <nav aria-label="Navbar">
            <div class="navbar-container p-15">
              <a href="./../index.html">
                <img src="./../images/Logo.png" alt="logo" class="logo nav-logo" />
              </a>
             
              <div class="toggle-bar">
                <span class="bar"></span>
              </div>
              <div class="nav-elements">
                <ul class="grow-list">
                  <li class="list-item"><a href="./../Components/BusinessAnalysis.html">BusinessAnalysis</a></li>
                  <li class="list-item"><a href="./../Components/checkIn.html">CheckIn</a></li>
                  <li class="list-item"><a href="./../Components/Comprehensive.html">Comprehensive</a></li>
                  <li class="list-item"><a href="./../Components/rating.html">RatingAnalysis</a></li>
                  <li class="list-item"><a href="./../Components/review.html">ReviewAnalysis</a></li>
                  <li class="list-item"><a href="./../Components//user.html">UserAnalysis</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Hero Section -->
          <div class="hero-container p-15">
            <div class="hero-left">
              <div class="version highlight">
              </div>
              <h1 class="hero-heading">
                <span>Your data with</span> real-time analytics
              </h1>
              <p class="hero-description">
                <span
                  >Harness the potential of Big Data Analytics & Cloud Services </span
                >and become a data-driven organization with Needle tail
              </p>
              <div class="hero-btn-container">
                <button class="customize-btn hero-btn-1">Learn More </button>
              </div>
            </div>
            <img src="./../images/image 1.png" alt="hero-image" class="hero-img" />
          </div>
        </div>
      </header>

        <!-- Header finished -->

        <main class="main-section">
            <div class="mid-container p-15">
              <div class="mid-top">
                <div class="highlight">
                  <img src="./../images/Icon awesome-eye.png" alt="eyeImage" />
                  <span>Business Analysis</span>
                </div>
                
                
              </div>
              </div>
            </div>
          </main>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">1 .Identify the most common merchants in the United States.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/1/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/1/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/1/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">2.	Identify and list the top 10 categories with the highest frequency.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/2/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/2/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/2/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">3.	Find the top 10 cities with the most merchants in the United States.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/3/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/3/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/3/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">4.	Find the most common merchants in the United States and display their average ratings</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/4/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/4/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/4/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">5.	Identify the top 5 states with the most merchants in the United States.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/5/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/5/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/5/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">6.	List the top 20 merchants with the most five-star reviews.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/6/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/6/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/6/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">7.	Determine the average latitude and longitude coordinates for businesses in each state.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/7/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/7/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/7/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">8.Summarize the types and quantities of restaurants for different cuisines (Chinese, American, Mexican).</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/8/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/8/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/8/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">9.	Analyze the review counts for restaurants of different cuisines.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/9/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/9/Capture2.PNG"alt="">
                </div>
              <div>
                  <img class="img" src="./../Business/9/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">10. Explore the distribution of ratings for restaurants of different cuisines.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../Business/10/BUSY.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../Business/10/Capture1.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
</body>
</html>