<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Analysis</title>
    <link rel="stylesheet" href="./../CSS/style.css">
    <link rel="stylesheet" href="./../CSS/businessAnalysis.css">
</head>
<body>
    <header class="header-section">
        <div class="header-content">
          <!-- Navbar -->
          <nav aria-label="Navbar">
            <div class="navbar-container p-15">
              <a href="./../index.html">
                <img src="./../images/Logo.png" alt="logo" class="logo nav-logo" />
              </a>
             
              <div class="toggle-bar">
                <span class="bar"></span>
              </div>
              <div class="nav-elements">
                <ul class="grow-list">
                  <li class="list-item"><a href="./../Components/BusinessAnalysis.html">BusinessAnalysis</a></li>
                  <li class="list-item"><a href="./../Components/checkIn.html">CheckIn</a></li>
                  <li class="list-item"><a href="./../Components/Comprehensive.html">Comprehensive</a></li>
                  <li class="list-item"><a href="./../Components/rating.html">RatingAnalysis</a></li>
                  <li class="list-item"><a href="./../Components/review.html">ReviewAnalysis</a></li>
                  <li class="list-item"><a href="./../Components//user.html">UserAnalysis</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Hero Section -->
          <div class="hero-container p-15">
            <div class="hero-left">
              <div class="version highlight">
              </div>
              <h1 class="hero-heading">
                <span>Your data with</span> real-time analytics
              </h1>
              <p class="hero-description">
                <span
                  >Harness the potential of Big Data Analytics & Cloud Services </span
                >and become a data-driven organization with Needle tail
              </p>
              <div class="hero-btn-container">
                <button class="customize-btn hero-btn-1">Learn More </button>
              </div>
            </div>
            <img src="./../images/image 1.png" alt="hero-image" class="hero-img" />
          </div>
        </div>
      </header>

        <!-- Header finished -->

        <main class="main-section">
            <div class="mid-container p-15">
              <div class="mid-top">
                <div class="highlight">
                  <img src="./../images/Icon awesome-eye.png" alt="eyeImage" />
                  <span>User Analysis</span>
                </div>
              </div>
              </div>
            </div>
          </main>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">1.Analyze the yearly growth of user sign-ups.
            </h1>
            </div>
            <div class="bussness_img">
                <div>
                    <img class="img" src="./../User/1/Capture.PNG"alt="">
                </div>
                <div>
                    <img class="img" src="./../User/1/Capture3.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">2.Count the "review_count" for users.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/2/Capture.PNG"alt="">
              </div>
              <div>
                    <img class="img" src="./../User/2/Capture3.PNG"alt="">
              </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">3.Identify and list the most popular users based on their number of fans.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/3/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../User/3/Capture2.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">4.Calculate the ratio of elite users to regular users each year</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/4/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../User/4/Capture2.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">5.Display the yearly proportions of total users and silent users (those who haven't written
                reviews)</h1>
            </div>
            <div class="bussness_img">
                <div>
                    <img class="img" src="./../User/5/Capture.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">6.Summarize the yearly statistics for new users, review counts, elite users, tip counts, and
                check-in counts.</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/6/Capture.PNG"alt="">
                  </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">7.Summarize the yearly statistics OF review counts</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/7/Capture.PNG"alt="">
                  </div>
              <div>
                  <img class="img" src="./../User/7/Capture2.PNG"alt="">
                </div>
              </div>
            <div>
            </div>
          </div>
          <div class="container">
            <div>
              <h1 class="bussnes_heading">8.Calculate the cumulative total count of users per year</h1>
            </div>
            <div class="bussness_img">
              <div>
                    <img class="img" src="./../User/8/Capture.PNG"alt="">
                  </div>
              </div>
            <div>
            </div>
          </div>
</body>
</html>